
img{
  max-width: 400px;
}

figure{
  display: block;
  width: 100%;
}

img{
  width: 100%;

}

.comment{
  display: block;
  width:100%;
  float:left;
}

textarea{
  width: 100%;
}

.posts,.comments {
    display: block;
    padding: 1em;
    float: left;
}

#button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}
