
img{
  max-width: 250px;
}

figure{
  display: block;
  width: 100%;
}



i{
 color: grey;
 font-size:.9em;
}

.comment{
  word-wrap: break-word;
  width:50%;
  float:left;
  background-color: #efefef;
  margin-bottom: .4em;
  margin-left: 2em;
  padding: .5em;
}

textarea{
  width: 100%;
}

#comment-form{
  float: left;
  width: 50%;
  margin: .5em;

}

#button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}
